$yellow: #fffb19;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color: black;
   /*Se cambian los margenes hechos a mano por el mixin, si se especifican 2 parametros en el mixin, se deben incluir siempre dos parametros en el include*/
    @include margenes(50px, 30px);
    /*margin-top: 50px;*/
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(10px, 0px);
    /*margin-bottom: 0px;
    margin-top: 10px;*/
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px,0px);
    /*margin-top: 10px;*/
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.space-icon {
    padding-right: 10px;
}

a {
    color: black;
}
.tab-content {
    padding-top: 10px;
}