.jumbotron {
  background-color: #fffb19;
  color: black;
  /*Se cambian los margenes hechos a mano por el mixin, si se especifican 2 parametros en el mixin, se deben incluir siempre dos parametros en el include*/
  margin-top: 50px;
  margin-bottom: 30px;
  /*margin-top: 50px;*/ }

footer {
  padding: 10px 10px 0 10px;
  background-color: #fffb19;
  margin-top: 10px;
  margin-bottom: 0px;
  /*margin-bottom: 0px;
    margin-top: 10px;*/ }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
  /*margin-top: 10px;*/ }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.space-icon {
  padding-right: 10px; }

a {
  color: black; }

.tab-content {
  padding-top: 10px; }
